In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('Walmart.csv')

In [3]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,5/1/2019,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,8/3/2019,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,3/3/2019,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,8/2/2019,10:37:00,Ewallet,5.3,0.48

In [4]:
df.shape

(10051, 11)

In [5]:
df.columns = [col.lower() for col in df.columns]

In [6]:
df.isnull().sum()

invoice_id         0
branch             0
city               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [7]:
df.dropna(inplace=True)

In [8]:
df.isnull().sum()

invoice_id        0
branch            0
city              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [9]:
df.dtypes

invoice_id          int64
branch             object
city               object
category           object
unit_price         object
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [10]:
df['unit_price'] = df['unit_price'].str.replace('$','').astype(float)

In [11]:
df['quantity'] = df['quantity'].astype(int)

In [12]:
df['date'] = pd.to_datetime(df['date'].astype(str) + ' ' + df['time'].astype(str))

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10020 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10020 non-null  int64
 1   branch          10020 non-null  object
 2   city            10020 non-null  object
 3   category        10020 non-null  object
 4   unit_price      10020 non-null  float64
 5   quantity        10020 non-null  int32
 6   date            10020 non-null  datetime64[ns]
 7   time            10020 non-null  object
 8   payment_method  10020 non-null  object
 9   rating          10020 non-null  float64
 10  profit_margin   10020 non-null  float64
dtypes: datetime64[ns](1), float64(3), int32(1), int64(1), object(5)
memory usage: 900.2+ KB

In [14]:
df.drop('time',axis=1,inplace=True)

In [15]:
df.head()

,invoice_id,branch,city,category,unit_price,quantity,date,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,74.69,7,2019-05-01 13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,15.28,5,2019-08-03 10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7,2019-03-03 13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,58.22,8,2019-01-27 20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,86.31,7,2019-08-02 10:37:00,Ewallet,5.3,0.48

In [16]:
df.duplicated().sum()

51

In [17]:
df.drop_duplicates(keep='first',inplace=True)

In [18]:
df.shape

(9969, 10)

In [19]:
df['sales'] = df['unit_price'] * df['quantity']

In [20]:
df['profit'] = df['sales'] * df['profit_margin']

In [21]:
df.head()

,invoice_id,branch,city,category,unit_price,quantity,date,payment_method,rating,profit_margin,sales,profit
0,1,WALM003,San Antonio,Health and beauty,74.69,7,2019-05-01 13:08:00,Ewallet,9.1,0.48,522.83,250.9584
1,2,WALM048,Harlingen,Electronic accessories,15.28,5,2019-08-03 10:29:00,Cash,9.6,0.48,76.40,36.6720
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7,2019-03-03 13:23:00,Credit card,7.4,0.33,324.31,107.0223
3,4,WALM064,Bedford,Health and beauty,58.22,8,2019-01-27 20:33:00,Ewallet,8.4,0.33,465.76,153.7008
4,5,WALM013,Irving,Sports and travel,86.31,7,2019-08-02 10:37:00,Ewallet,5.3,0.48,604.17,290.0016

In [22]:
!pip install pymysql
import pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in c:\users\user\appdata\roaming\python\python310\site-packages (1.1.1)

In [23]:
from sqlalchemy import create_engine

In [24]:
engine_mysql = create_engine("mysql+pymysql://root:harpreet@localhost:3306/walmart_db")

In [25]:
df.to_sql(name='walmart_sales', con=engine_mysql, if_exists='append', index=False)

9969